<script>
    function toggleSideNav() {
        document.getElementsByClassName('side-nav')[0].classList.toggle('collapsed');
    }
    (function ($) {

        "use strict";

        var fullHeight = function () {

            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });

        };
        fullHeight();

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    })(jQuery);
</script>