<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ASReview Preprocess (Unofficial Extension){% endblock title %}</title>
    <meta name="author" content="Rohit Garud">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <!-- ================================
    Start CSS
    ================================= -->
    <link href="static/css/style.css" rel="stylesheet">
    {% block extend_header %}
    {% endblock extend_header %}
    <!-- ================================
    End CSS
    ================================= -->

</head>

<body>
    {% include "partials/nav.html" %}

    {% block content %}
    {% endblock content %}

    {% include "partials/footer.html" %}

    {% block extend_footer %}
    {% endblock extend_footer %}
</body>

</html>